body {
    background-color: #ffd7bc;
}

h1 {
    color: white;
    text-align: right;
    font-family: Helvetica;
    font-size: 90px;
    text-shadow: 3px 3px #adadad;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: ;
    
}

h2 {
    color: #adadad;
    text-align: right;
    font-family: Helvetica;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: ;
}

h3 {
    color: #606060;
    text-align: left align;
    font-family: Helvetica;
    font-size: 25px;
    text-shadow: 3px 3px #ffffff;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-right: 650px;
    margin-left: 200px;
}

p {
    color: #606060;
    font-family: helvetica;
    font-size: 17px;
    text-align: justify;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 650px;
    margin-left: 200px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}

img {
  
    margin-top: 10;
    margin-bottom: 10px;
    margin-right: 650px;
    margin-left: 200px;
}

/* Dropdown Button */
.dropbtn {
    margin-top: 30;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 1215px;
    background-color: #f2c2a2;
    color: white;
    padding: 12px;
    font-family: helvetica;
    font-size: 17px;
    border: dotted;
    border-width: 1.5px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2c2a2;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: grey;
    padding: 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffd7bc}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  margin-top: 30;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 1215px; 
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ffd7bc;
}